/* -------------------------------------------------- HEADER -------------------------------------------------- */
.navbar-fix {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
}
.modal-backdrop {
  z-index: 1;
}
.boton-hov:hover {
  background-color: gray;
  color: white;
  border-radius: 5px;
  transition: 0.5s;
}
.modal-bg {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
}
.card-login {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.boton-h1:hover {
  background: #212529;
  color: white;
}
.boton-h2:hover {
  background: #ffc107;
}
.nav-link:hover{
  background: #ffc107;
  transform: scale(1.1);
  transition: 0.5s;
  border-radius: 5px;
}
.registrate{
  font-size: 14px;
}
.registrate-aqui{
  font-size: 14px;
  padding-top: 0;
  padding-bottom: 4px;
}
/* --------- Media Queries --------- */
@media (min-width: 320px) {
  .gato-ac {
    margin-bottom: -74px;
  }
}
@media (min-width: 576px) {
  .gato-ac {
    margin-bottom: -98px;
  }
}
@media (min-width: 768px) {
  .gato-ac {
    margin-bottom: -103px;
  }
}
@media (min-width: 992px) {
  .gato-ac {
    margin-bottom: -101px;
  }
}
@media (min-width: 1200px) {
  .gato-ac {
    margin-bottom: -116px;
  }
}
@media (min-width: 1400px) {
  .gato-ac {
    margin-bottom: -133px;
  }
}
@media (min-width: 1920px) {
  .gato-ac {
    margin-bottom: -169px;
  }
}